* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FED9B7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.container {
    background-color: #FDFCDC;
    border-radius: 5%;
    padding: 30px;
    height: 50vh;
    width: 50vh;
    font-size: medium;
}

form {
    margin: 2rem;
}

form select ,input, button {
    width: 100%;
    background-color: #FDFCDC;
    border: none;
    outline: none;
    border-radius: 5%;
}

.amount input{
    height: 2rem;
    background-color: #FCFBEB
}

h2 {
    margin-left: 2rem;
}

img {
    height: 2rem;

}

.dropdown   {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-content : center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    i {
        margin-top: 1.5rem;
    }

    button {
        height: 3rem;
        margin-top: 2rem;
            background-color: #00AFB9;
            font-size: large;
    }

    select {
    background-color: #FDFCDC;
    font-size: large;

}

#from {
    display: flex;
}

.select-container {
    display: flex;
}

.msg {
        height: 1.5rem;
    background-color: #FCFBEB
}
